@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    /* padding: 0; */
    /* margin: 0; */
    box-sizing: border-box;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;


}
/* first section  */
.hero {
    width: 100%;
    background-image: url(photos/Header\ .1\ \(1\).png);
    height: 750px;
    background-size: cover;

}

nav {
    display: flex;
    width: 100%;
    height: 91px;
    align-items: center;
    justify-content: space-around;
}

.nav_left {
    display: flex;
    font-family: "Montserrat", sans-serif;
    align-items: center;
}

.nav_left h3 {
    font-size: 1.6vw;
}

.nav_list {
    margin-left: 5vw;

}

.nav_list a {
    text-decoration: none;
    color: rgba(115, 115, 115, 1);
    padding: 0px 10px;
    font-size: 1vw;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}

.nav_button {
    margin-right: 5vw;
}

.nav_button a {
    padding: 0px 30px;
    text-decoration: none;
    color: rgba(150, 187, 124, 1);
    font-weight: 500;

    font-size: 1.1vw;
    font-family: "Montserrat", sans-serif;
}

.nav_button button {
    padding: 0.8vw 1.5vw;
    text-align: center;
    justify-content: center;
    background-color: #96bb7c;
    border-radius: 5px;
    border: none;
    color: white;
    font-family: "Montserrat", sans-serif;
}

.nav_button button i {
    margin-left: 10px;
}


.left {

    width: 50%;
    height: 500px;
    padding: 150px 100px;
    font-family: "Montserrat", sans-serif;

}

.left h1 {
    font-weight: 700;
    line-height: 60px;
    font-size: 53px;
}

.left p {
    color: #737373;
    margin-top: 25px;
    line-height: 32px;
    font-weight: 500;
    font-size: 22px;
}

.hero_buttons {
    margin-top: 18px;
    font-family: "Montserrat", sans-serif;

}

.Button_1 {
    padding: 12px 21px;
    border: none;
    border-radius: 5px;
    background-color: rgba(150, 187, 124, 1);
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}


.Button_2 {
    padding: 12px 21px;
    border: 1px solid rgba(150, 187, 124, 1);
    border-radius: 5px;
    color: rgba(150, 187, 124, 1);
    margin-left: 10px;
    background-color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.hero_main {
    display: flex;


}

.right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-right: 20px;

}

.right_img {
    width: 650px;
}

.right_img img {
    width: 100%;
}
.pactice-advice{
    margin-left: 198px;
    margin-right: 198px;
}
.first-div{
    margin-top: 112px;
    margin-bottom: 112px; 
    font-family: "Montserrat", sans-serif;
}
/* part 2 start  */
part-2{
    background-color: aliceblue;
    height: 782px;
}



.conteinar1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;

}
.child2 {
    font-weight: 700;
    line-height: 60px;
    font-size: 53px;
    margin-top: 12px;
    margin-bottom: 12px;
}
 .child22{
    color: #96bb7c;
}
.section-2-head-4{
    margin-top: 20px;
    margin-bottom: 20px;

}
.card1{
    width: 238px;
    height: 288px;
    margin-left: 10px;
    padding: 40px 35px;
}
.card-content1{
    padding-top: 20px;
    padding-bottom: 20px;
}

.card-img1{
    width: 100%;
    height: auto;
}
.line1{
    width: 50px;
    height: 2px;
    background-color: red;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* part 3 start  */
  .section-3{
      max-width: 1050px;
      margin-top: 112px;
      margin-bottom: 112px;
  }

  .conteiner {
      display: flex;
  }

  .card {
      height: 626px;
      width: 238px;

  }
  .common{
    background-color: #96BB7C;
  }

  .card-content {
      height: auto;
      padding: auto;
  }

  h5 {
      color: #252B42;
      line-height: 24px;
      font-weight: bold;
      letter-spacing: 0.1px;
      font-family: "Montserrat", serif
  }

  .pragraph {
      color: #737373;
      margin-top: 10px;
  }

  .icon {
      color: #737373;
  }

  .dollar {
      color: #737373;
  }

  .discount {
      color: #FFAB71;
  }

  button {
      background-color: white;
      color: #96BB7C;
      border: 1px solid #96BB7C;
      border-radius: 60px;
      padding: 10px 15px;
  }

  .course {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  h6 {
      margin: 0;
      color: #96BB7C;
      font-family: "Montserrat", serif
  }

  span {
      margin: 0;
  }

  .top-div {
      margin-bottom: 112px;
      padding: 10px;
      font-family: "Montserrat", serif
  }

  .p1 {
      color: #96BB7C;
  }

  h1 {
      font-weight: bold;
  }

  .p2 {
      color: #737373;
  }
  /* section 4 start from hare  */
  .conteiner4{
      margin-top: 160px;
      margin-bottom: 160px;
  }

  .main {
      display: flex;
      font-family: "Montserrat", serif;
  }

  .first-div {
      margin: 59px 30px 59px;

  }

  .parent {
      display: flex;
      justify-content: left;

  }

  .parent2 {
      width: 100%;

  }

  .line2 {
      width: 94px;
      height: 7px;
      background-color: #E74040;
      margin-bottom: 35px;
  }

  p {
      color: #737373;
      margin-top: 35px;
      margin-bottom: 35px;
  }

  a {
      color: #96BB7C;
      text-decoration: none;
  }
  /* section 5 start from hare  */
  .section-5 {
      margin-top: 160px;
      margin-bottom: 160px;
      display: flex;
      font-family: "Montserrat", sans-serif;
  }

  .left-div {
      margin-left: auto;


  }

  .line3 {
      width: 94px;
      height: 7px;
      background-color: red;
      justify-content: start;
  }

  .section-5-h6 {
      margin-top: 35px;
      list-style: none;
      color: #96bb7c;
  }
  /* section 6 start from hare  */
  .section-6{
    margin-top: 160px;
    margin-bottom: 160px;
    margin-left: auto;
    margin-right: auto;
  }
  .live-head{
    color: #252B42;
    font-weight: bold;
    font-size: 40px;
  }
  .p6{
    color: #96BB7C;
  }
  .icons{
    color: #F3CD03;
  }
  .designer{
    color:#737373; ;
  }
  .section-6-bottom-div{
    display: flex;
  }
  .section-6-card{
    max-width:502px ;
    /* height: 375px; */
    padding:25px ;
    display: flex;
    flex-direction: column;
  align-items: center;

  }
  .section-6-photo{
    width: 128px;
    height: 128px;
    border-radius: 50%;
  }
  .section-6-content{
    padding:30px ;
    display: flex;
    justify-content: center;
    flex-direction: column;
   }
  .section-6-p{
    color: #737373;
    text-align: center;
    
    
  }
  .fa-solid{
    margin: 2px;
  }
  .ratings{
    color:#F3CD03 ;
    margin-top: 15px;
    margin-bottom: 15px;
  }
 .regina-miles p{
    text-align: center;
    
 }
 /* section 7 start from hare */
 .section-7-main{
    margin: 160px 179px 160px 179px;
    /* background-color: bisque; */
 }
 .section-7{
    background-color: #FFF2F3;
 }
 .section-7-top{
    margin-bottom: 80px;
 }
 .email{
    width: 688px;
    height:58px ;
 }
 .butt{
    width: 117px;
    height: 58px;
    border-radius: 0px;
    color:#FFFFFF ;
    background-color:#96BB7C ;
 }


