@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;


}

.hero {
    width: 100%;
    background-image: url(photos/Header\ .1\ \(1\).png);
    height: 750px;
    background-size: cover;

}

nav {
    display: flex;
    width: 100%;
    height: 91px;
    align-items: center;
    justify-content: space-around;
}

.nav_left {
    display: flex;
    font-family: "Montserrat", sans-serif;
    align-items: center;
}

.nav_left h3 {
    font-size: 1.6vw;
}

.nav_list {
    margin-left: 5vw;

}

.nav_list a {
    text-decoration: none;
    color: rgba(115, 115, 115, 1);
    padding: 0px 10px;
    font-size: 1vw;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}

.nav_button {
    margin-right: 5vw;
}

.nav_button a {
    padding: 0px 30px;
    text-decoration: none;
    color: rgba(150, 187, 124, 1);
    font-weight: 500;

    font-size: 1.1vw;
    font-family: "Montserrat", sans-serif;
}

.nav_button button {
    padding: 0.8vw 1.5vw;
    text-align: center;
    justify-content: center;
    background-color: #96bb7c;
    border-radius: 5px;
    border: none;
    color: white;
    font-family: "Montserrat", sans-serif;
}

.nav_button button i {
    margin-left: 10px;
}


.left {

    width: 50%;
    height: 500px;
    padding: 150px 100px;
    font-family: "Montserrat", sans-serif;

}

.left h1 {
    font-weight: 700;
    line-height: 60px;
    font-size: 53px;
}

.left p {
    color: #737373;
    margin-top: 25px;
    line-height: 32px;
    font-weight: 500;
    font-size: 22px;
}

.hero_buttons {
    margin-top: 18px;
    font-family: "Montserrat", sans-serif;

}

.Button_1 {
    padding: 12px 21px;
    border: none;
    border-radius: 5px;
    background-color: rgba(150, 187, 124, 1);
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}


.Button_2 {
    padding: 12px 21px;
    border: 1px solid rgba(150, 187, 124, 1);
    border-radius: 5px;
    color: rgba(150, 187, 124, 1);
    margin-left: 10px;
    background-color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.hero_main {
    display: flex;


}

.right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-right: 20px;

}

.right_img {
    width: 650px;
}

.right_img img {
    width: 100%;
}
.pactice-advice{
    margin-left: 198px;
    margin-right: 198px;
}
.first-div{
    margin-top: 112px;
    margin-bottom: 112px; 
    font-family: "Montserrat", sans-serif;
}
part-2{
    background-color: aliceblue;
    height: 782px;
}



.conteinar{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;

}
h1 {
    font-weight: 700;
    line-height: 60px;
    font-size: 53px;
    margin-top: 12px;
    margin-bottom: 12px;
}
h6{
    color: #96bb7c;
}
.section-2-head-4{
    margin-top: 20px;
    margin-bottom: 20px;

}
.card{
    width: 238px;
    height: 288px;
    margin-left: 10px;
    padding: 40px 35px;
}
.card-content{
    padding-top: 20px;
    padding-bottom: 20px;
}

.card-img{
    width: 100%;
    height: auto;
}
.line{
    width: 50px;
    height: 2px;
    background-color: red;
    margin-top: 20px;
    margin-bottom: 20px;
}